<form [formGroup]="loginForm">
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <div *ngIf="primaryEmail.errors?.email">
    <b>Primary Email not valid.</b>
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="login()">OK</button>
</form>
